*.o
*.d
*.cmd
*.log
*.pyc
*.swp
*.swo
*~
debug
build
build-*
build_*
cscope.*
.dir
venv
.venv

/*.patch

tags
.project
.cproject
.xxproject
.envrc
sanity-out*
twister-out*

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

Debug/*
Release/*

doc/_build
doc/nrf/_doxygen/
doc/nrf/_samples/
doc/*_warnings.txt
doc/*_doc.log

ext/lib/bin/supl
ext/lib/bin/libsupl.zip
